<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BioHunters</title>
    <link rel="stylesheet" href="homepagestyle.css">
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo">
          <img src="./BioHunters.png" height="120px" width="120px" alt="BioHunters Logo">
        </div>
        <ul class="nav-area">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Community</a>
          </li>
          <li>
            <a href="#">Gallery</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      
      <div class="welcome-text">
        <h1>Are you a BioHunter?</h1>
        <a href="#">Learn More</a>
      </div>
    </header>
  </body>
</html>